  .container {
    position: relative;
    width: 100%;
    cursor: pointer;
  }
  
  .image {
    display: block;
    width: 190px;
    height: 200px;
  }
  
  .overlay {
    position: absolute; 
    bottom: 0;
    background: rgb(255, 0, 179);
    background: rgba(226, 9, 161, 0.596);
    color: #f1f1f1; 
    width: 30%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 100%;
    padding: 35%;
    text-align: center;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }